html{
    font-family: Inter, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(to top left, #A9D3FF, #6fa3db);
    justify-content: space-between;
    gap: 3rem;
}

#user-welcome{
    padding: 0 0 0 1rem;
}

a{
    text-decoration: none;
    padding:8px;
}
a:hover{
    background-color:#93acb5; 
    border-radius:8px;
}
a:visited{
    color:black;
}


header{
    background-color: #93acb5;
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-radius: 20px;
    margin:0 0 3rem 0;
}

header > h1{
    background-color:#93acb5;
    text-shadow: 4px 2px #80969f;   
}



header > nav {
    background-color:rgba(206, 218, 223, 0.89);
    border-radius: 30px;
    padding: 0px 4px;
    margin: 0rem 1rem;
    text-align: center;
    display: flex;
    cursor: default;
    transition-duration: 0.4s;
}
      
li.button:hover {
        background-color:#80969f;
        border-radius: 8px;
}

div#edit-page{
    display:flex;
    gap: 1rem;
    flex-wrap: wrap;
    font-size:small;
    justify-content: space-evenly;
}

div.city-check {
    padding: 2px;
    display: flex;
    flex-direction: column;
}

.city-check p {
    text-align: center;
}

.city-check form {
    display: flex;
    flex-direction: column;
}

footer{
    background-color:#93acb5;
    border-radius: 50px;
    align-self: flex-end;
    margin: 2rem 3rem 0 3rem;
}

footer > nav{
    background-color:#93acb5;
    display:flex;
    justify-content: space-around;
    padding: 4px;
    border-radius: 30px;
}


ul{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

li{
    list-style: none;
    padding: 4px;
    margin: 0px 4px 0 0;
}

main{
    display:flex;
    gap: 32px;
    /* background-color: #6c756b; */
    background-image: linear-gradient(to top, #8ab4e16e, #6c756b);
    height: 70%;
    justify-content: center;
    padding: 36px 24px 24px 24px;
    border-radius: 25px;
}

#middle {
    background:linear-gradient(0deg, rgba(206, 218, 223, 0.89), rgba(206, 218, 223, 0.9)), url('/static/images/world_winkel.gif');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 45%;
    height: 95%;
    border-radius: 40px;
   
}

p#big-text{
    font-weight: 800;
}


section#ticklist{
    background-color:  #cedadf;
    display: flex;
    width: 280px;
    flex: 1;
    justify-content: center;
    text-align: center;
    height: 75%;
    border-radius: 40px;    
}

section > p{
    display: flex;
    align-self:flex-start;
    align-self:center;
}

section#wishlist{
    background-color:  #cedadf;
    display: flex;
    flex: 1;
    width: 280px;
    justify-content: center;
    text-align: center;
    height: 75%;
    border-radius: 40px;
}



blockquote {
    padding: 3rem 0 0 0;
    align-items: center;
   
  }

  #add-city{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-items: space-between;
    justify-self: center;
    align-self:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

  #add-country{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-items: space-between;
    justify-self: center;
    align-self:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }


  }