<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/where-next.css') }}">
    <title>Where Next?</title>
<body>
<header>
    <h1>
      <div id="user-welcome">
            WHERE NEXT, {{ user1 }}?
        </div>
    </h1>
</header>
  <nav>
    <ul>
      <li>
        <a href="/">Main</a>
      </li>
      <li>
        <a href="/countries">All Countries</a>
      </li>
      <li>
        <a href="/cities/have-not-been">Cities To Visit</a>
      </li>
      <li>
        <a href="/cities/have-been">Visited Cities</a>
      </li>
    </ul>
  </nav>
<main>
  <section id="content">
    
      {% block content %}
<br>
        
<br>
      {% endblock %}

  </section>
</main>
  <footer>
    <nav>
      <ul>
        <li>
          <a href="/">Main</a>
        </li>

        <li>
          <a href="/countries/index.html">Countries</a>
        </li>
        <li>
          <a href="/cities/have-not-been">Cities To Visit</a>
        </li>
        <li>
          <a href="/cities/have-been">Visited Cities</a>
        </li>
      </ul>
    </nav>
  </footer>
</body>
</html>