<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/where-next.css') }}">
    <title>Where Next?</title>
<body>
<header>
    <h1>
      <div id="user-welcome">
            WHERE NEXT, {{ user.name }}?
        </div>
    </h1>
    <nav>
      <ul>
        <li>
          <a href="/">Main</a>
        </li>
        <li>
          <a href="/countries">All Countries</a>
        </li>
        <li>
          <a href="/cities/have-not-been">Cities To Visit</a>
        </li>
        <li>
          <a href="/cities/have-been">Visited Cities</a>
        </li>
        <li>
          <a href="/cities/add">Add</a>
        </li>
      </ul>
    </nav>
</header>
  
<main class="main-wrapper">
 
  <section id="ticklist">
      <p>
        {% for city in ticklist %}
          {{ city.name }}<br>
        {% endfor %}
      </p>

  </section>

  <section id="middle">
    {% block content %}
        
    {% endblock %}
  </section>

  <section id="wishlist">
          <p>
          {% for city in wishlist %}
          {{ city.name }}<br>
          {% endfor %}
        </p>
  </section>

</main>
  <footer>
    <nav>
      <ul>
        <li>
          <a href="/">Main</a>
        </li>

        <li>
          <a href="/countries">All Countries</a>
        </li>
        <li>
          <a href="/cities/have-not-been">Cities To Visit</a>
        </li>
        <li>
          <a href="/cities/have-been">Visited Cities</a>
        </li>
        <li>
          <a href="/cities/add">Add</a>
        </li>
      </ul>
    </nav>
  </footer>
</body>
</html>